modules = ["nodejs-24", "python-3.11", "postgresql-16"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 80

[[ports]]
localPort = 8082
externalPort = 4200

[[ports]]
localPort = 25886
externalPort = 3000

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
ADMIN_EMAIL = "immovia.rd@gmail.com"
VITE_SANITY_PROJECT_ID = "c0tinigu"
VITE_SANITY_DATASET = "production"
VITE_SANITY_API_VERSION = "2026-05-28"

[userenv.development]
VITE_APP_URL = "https://390f730c-9883-4048-8a7c-03f152e0bedd-00-m9zjw6x6ksiy.worf.replit.dev"

[userenv.production]
VITE_CLERK_PROXY_URL = "https://immovia365.ch/api/__clerk"
VITE_APP_URL = "https://immovia365.ch"
